* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif, Arial;
  background-color: #7fabb8;
  color: #000000;
  line-height: 1;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.site-header {
  background-color: #7fabb8;
  border-bottom: 3px solid #000000;
}

.nav-bar {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
  color: #222;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links a,
.primary-link {
  color: #2457c5;
  text-decoration: none;
}

.nav-links a:hover,
.primary-link:hover {
  text-decoration: underline;
}

.theme-button {
  padding: 0.5rem 1rem;
  border: 2px solid #000000;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;

  transition: 0.15s;
}

.theme-button:hover {
  background-color: #222;
  color: white;
}

.hero-section {
  padding: 4rem 1rem;
  background-color: #ffffff;
  text-align: center;
  border-bottom: 3px solid #000000;
}

.hero-content {
  max-width: 500px;
  margin: 0 auto;
}

.hero-content h1 {
  font-size: 2.5rem;
  font-style: italic;
  margin-bottom: 1rem;
}

.content-section {
  max-width: 1100px;
  margin: 0 auto;
  padding: 3rem 1rem;
}

.skill-grid {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.skill-card {
  flex: 1 1 500px;
  background-color: white;
  padding: 1rem;
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
}

.site-footer {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #222;
  color: white;
}

.dark {
  background-color: #111;
  color: #f4f4f4;
}

.dark .site-header,
.dark .skill-card {
  background-color: #1f1f1f;
}

.dark .hero-section {
  background-color: #222;
}

.dark .logo {
  color: white;
}

.dark .theme-button {
  background-color: #333;
  color: white;
  border-color: white;
}

@media (max-width: 600px) {
  .skill-card {
    flex: 1 1 100%;
  }

  .hero-content h1 {
    font-size: 1.8rem;
  }

  .hero-section {
    padding: 2rem 1rem;
  }
}
